@model ShareCare.Models.Group
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand link-light link-opacity-50-hover" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
        <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#group-navbar" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Menü lenyitása">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="group-navbar" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item hover-dropdown d-none d-sm-block">
                    <div class="d-flex align-items-center">
                        <a id="purchases" class="nav-link link-light link-opacity-50-hover" aria-expanded="false" asp-controller="Groups" asp-action="Purchases" asp-route-id="@Model.Id" method="post" title="Vásárlások">Vásárlások</a>
                    </div>
                    <ul class="dropdown-menu pt-0 pb-0">
                        <li class="nav-item">
                            <a id="purchasesToApprove" class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="PurchasesToApprove" asp-route-id="@Model.Id" method="post" title="Elfogadásra váró vásárlások">Elfogadásra váró vásárlások</a>
                        </li>
                        <li class="nav-item">
                            <a id="rejectedPurchases" class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="RejectedPurchases" asp-route-id="@Model.Id" method="post" title="Elutasított vásárlások">Elutasított vásárlások</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item d-block d-sm-none">
                    <div class="d-flex align-items-center align-items-stretch accordion">
                        <a id="purchases" class="nav-link link-light link-opacity-50-hover flex-grow-1 d-flex align-items-center" aria-expanded="false" asp-controller="Groups" asp-action="Purchases" asp-route-id="@Model.Id" method="post" title="Vásárlások">Vásárlások</a>
                        
                        <div class="d-flex align-items-center">
                            <button class="btn bg-transparent text-light border-0 shadow-none accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapsePurchasesMenu"
                                    aria-expanded="false"
                                    aria-controls="collapsePurchasesMenu">
                            </button>
                        </div>
                    </div>
                    <div class="collapse" id="collapsePurchasesMenu">
                        <ul class="navbar-nav flex-grow-1 ms-2">
                            <li class="nav-item">
                                <a class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="PurchasesToApprove" asp-route-id="@Model.Id">
                                    Elfogadásra váró vásárlások
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="RejectedPurchases" asp-route-id="@Model.Id">
                                    Elutasított vásárlások
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
                <li class="nav-item">
                    <a id="payments" class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="Payments" asp-route-id="@Model.Id" method="post" title="Kiegyenlítések">Kiegyenlítések</a>
                </li>
                <li class="nav-item">
                    <a id="debts" class="nav-link link-light link-opacity-50-hover" asp-controller="Groups" asp-action="Debts" asp-route-id="@Model.Id" method="post" title="Tartozások">Tartozások</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".hover-dropdown").hover(
            function () {
                $(this).addClass("show");
                $(this).find(".dropdown-menu").stop(true, true).slideDown(300).addClass("show");
            },
            function () {
                $(this).removeClass("show");
                $(this).find(".dropdown-menu").stop(true, true).slideUp(300).removeClass("show");
            }
        );
    });
</script>
@* <style>
    li:hover {
        background-color: #f1f1f1; /* Light gray background */
        color: #333; /* Darker text color */
    }
</style> *@