@using ShareCare.Data
@using ShareCare.Logic
@model Group
@{
    ViewData["Title"] = "Debts";
    ViewData["Group"] = Model;
    ViewData["GroupId"] = Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<KeyValuePair<(ApplicationUser, ApplicationUser), double>> totalDebts = (List<KeyValuePair<(ApplicationUser, ApplicationUser), double>>) ViewData["TotalDebts"];
    List<KeyValuePair<(ApplicationUser, ApplicationUser), ValueAndList>> totalDebtsSimpler = (List<KeyValuePair<(ApplicationUser, ApplicationUser), ValueAndList>>)ViewData["TotalDebtsSimpler"];
    List<KeyValuePair<(ApplicationUser, ApplicationUser), ValueAndList>> totalDebtsSimplest = (List<KeyValuePair<(ApplicationUser, ApplicationUser), ValueAndList>>)ViewData["TotalDebtsSimplest"];
    var arrow = "---->";
    int totalDebtIndex = 0;
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3 w-100">
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item p-2">
        <button onclick="toggleDiv('totalDebts')">Nem egyszerűsített tartozások</button>
    </li>
    <li class="nav-item p-2">
        <button onclick="toggleDiv('totalDebtsSimpler')">Egyszerűsített tartozások (csak kölcsönös)</button>
    </li>
    <li class="nav-item p-2">
        <button onclick="toggleDiv('totalDebtsSimplest')">Egyszerűsített tartozások (kölcsönös és körtartozás)</button>
    </li>
</ul>
</nav>
<div id="totalDebts" class="hidden ">
    <h1>Nem egyszerűsített tartozások</h1>

    <table class="table w-100 align-middle">
        <thead>
            <tr>
                <th class="w-auto text-nowrap">
                    Ki?
                </th>
                <th class="w-auto text-nowrap">
                    @arrow
                </th>
                <th class="w-auto text-nowrap">
                    Kinek?
                </th>
                <th class="w-75 text-end">
                    Összeg
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var totalDebt in totalDebts)
            {
                if (true)
                {
                    <tr>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item2.FullName
                        </td>
                        <td>
                            @arrow
                        </td>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item1.FullName
                        </td>
                        <td class="text-end">
                            @totalDebt.Value
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="totalDebtsSimpler">
    <h1>Egyszerűsített tartozások (csak kölcsönös)</h1>

    <div class="accordion" id="totalDebtsAccordion">
        @foreach (var totalDebt in totalDebtsSimpler)
        {
            string expandedDebtsId = "expandedDebts-" + totalDebtIndex;

            <div class="accordion-item">
                <div class=" accordion-header">
                    <span>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#expandedDebts-@totalDebtIndex"
                                aria-expanded="false" aria-controls="expandedDebts-@totalDebtIndex">
                            <div>
                                <span>
                                    @totalDebt.Key.Item2.FullName
                                </span>
                                <span>
                                    @arrow
                                </span>
                                <span>
                                    @totalDebt.Key.Item1.FullName
                                </span>
                                <span>
                                    @totalDebt.Value.Value
                                </span>
                            </div>
                        </button>
                    </span>
                </div>
                <div id="expandedDebts-@totalDebtIndex" class="accordion-collapse collapse" data-bs-parent="#totalDebtsAccordion">
                    @foreach (var originalDebt in totalDebt.Value.Debts)
                    {
                        <div class="accordion-body">
                            <span>
                                @originalDebt.OwerUser.FullName
                            </span>
                            <span>
                                @arrow
                            </span>
                            <span>
                                @originalDebt.UploaderUser.FullName
                            </span>
                            <span>
                                @originalDebt.Amount
                            </span>
                        </div>
                    }
                </div>
            </div>

            totalDebtIndex++;
        }
    </div>
    @* <table class="table align-middle w-100">
        <thead>
            <tr>
                <th class="w-auto text-nowrap">
                    Ki?
                </th>
                <th class="w-auto text-nowrap">
                    @arrow
                </th>
                <th class="w-auto text-nowrap">
                    Kinek?
                </th>
                <th class="w-75 text-end">
                    Összeg
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var totalDebt in totalDebtsSimpler)
            {
                if (true)
                {
                    string expandedDebtsId = "expandedDebts-" + totalDebtIndex;
                    <tr>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item2.FullName
                        </td>
                        <td>
                            @arrow
                        </td>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item1.FullName
                        </td>
                        <td class="text-end">
                            @totalDebt.Value.Value
                        </td>
                        <td>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=@string.Concat("#", expandedDebtsId) aria-controls=@expandedDebtsId
                                    aria-expanded="false" aria-label="Toggle Debts">
                            </button>
                        </td>
                    </tr>
                    <tr id=@expandedDebtsId class="collapse">
                        <td colspan="4" class="ps-4 pe-0">
                            <table class="table align-middle w-100">
                                <tbody>
                                    @foreach (var originalDebt in totalDebt.Value.Debts)
                                    {
                                        <tr>
                                            <td class="text-nowrap">
                                                @originalDebt.OwerUser.FullName
                                            </td>
                                            <td>
                                                @arrow
                                            </td>
                                            <td class="text-nowrap">
                                                @originalDebt.UploaderUser.FullName
                                            </td>
                                            <td class="text-end">
                                                @originalDebt.Amount
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    totalDebtIndex++;
                }
            }
        </tbody>
    </table> *@
</div>

<div id="totalDebtsSimplest" class="hidden">
    <h1>Egyszerűsített tartozások (kölcsönös és körtartozás)</h1>

    <div class="accordion" id="totalDebtsAccordion">
        @foreach (var totalDebt in totalDebtsSimplest)
        {
            string expandedDebtsId = "expandedDebts-" + totalDebtIndex;

            <div class="accordion-item">
                <div class=" accordion-header">
                    <span>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#expandedDebts-@totalDebtIndex"
                                aria-expanded="false" aria-controls="expandedDebts-@totalDebtIndex">
                            <div>
                                <span>
                                    @totalDebt.Key.Item2.FullName
                                </span>
                                <span>
                                    @arrow
                                </span>
                                <span>
                                    @totalDebt.Key.Item1.FullName
                                </span>
                                <span>
                                    @totalDebt.Value.Value
                                </span>
                            </div>
                        </button>
                    </span>
                </div>
                <div id="expandedDebts-@totalDebtIndex" class="accordion-collapse collapse" data-bs-parent="#totalDebtsAccordion">
                    @foreach (var originalDebt in totalDebt.Value.Debts)
                    {
                        <div class="accordion-body">
                            <span>
                                @originalDebt.OwerUser.FullName
                            </span>
                            <span>
                                @arrow
                            </span>
                            <span>
                                @originalDebt.UploaderUser.FullName
                            </span>
                            <span>
                                @originalDebt.Amount
                            </span>
                        </div>
                    }
                </div>
            </div>

            totalDebtIndex++;
        }
    </div>

    @* <table class="table align-middle w-100">
        <thead>
            <tr>
                <th class="w-auto text-nowrap">
                    Ki?
                </th>
                <th class="w-auto text-nowrap">
                    @arrow
                </th>
                <th class="w-auto text-nowrap">
                    Kinek?
                </th>
                <th class="w-75 text-end">
                    Összeg
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var totalDebt in totalDebtsSimplest)
            {
                if (true)
                {
                    <tr>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item2.FullName
                        </td>
                        <td>
                            @arrow
                        </td>
                        <td class="text-nowrap">
                            @totalDebt.Key.Item1.FullName
                        </td>
                        <td class="text-end">
                            @totalDebt.Value
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table> *@
</div>

<style>
    .hidden {
        display: none;
    }
</style>

<script>
    function toggleDiv(divId) {
        var list = ["totalDebts", "totalDebtsSimpler", "totalDebtsSimplest"];
        list.forEach((item, index) => {
            if (item === divId) 
            { 
                document.getElementById(item).style.display = "block";
            }
            else
            {
                document.getElementById(item).style.display = "none";
            }
        });
    }
</script>