@using ShareCare.Data
@model ShareCare.Models.Group

@{
    ViewData["Title"] = "Details";
    ViewData["Group"] = Model;
    ViewData["GroupId"] = Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = "Groups";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Csoport&nbsptulajdonosa
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatorUser.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-8">
            @foreach (var user in ViewData["Users"] as List<ApplicationUser>)
            {
                <p class="m-0">
                    @user.FullName
                </p>
            }
        </dd>
        <dt class="col-sm-4">
            Meghívó&nbspkód
        </dt>
        <dd class="col-sm-8 user-select-all">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">Vissza</a>
</div>
