@using ShareCare.Data
@model IEnumerable<ShareCare.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Csoportok</h1>

@{
    var message = TempData["Message"];
    var alertType = TempData["AlertType"];

    ApplicationUser loggedInUser = (ApplicationUser)ViewData["User"];

    uint listIndex = 0;
}

@if (message != null)
{
    <div class="alert @alertType">
        @message
    </div>
}

<p>
    <a class="btn btn-success" asp-action="Create">Új csoport létrehozása</a>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinGroupModal">
        Csatlakozás egy csoporthoz
    </a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-stretch pt-0 pb-0 pe-0">
            <a asp-action="Details" asp-route-id="@item.Id"
               class="flex-grow-1 d-flex align-items-center text-decoration-none">
                <h5 class="mb-0 ps-2">@Html.DisplayFor(modelItem => item.Name)</h5>
            </a>

            <div class="d-flex align-items-center align-items-stretch">
                @if (loggedInUser == item.CreatorUser)
                {
                    <a class="m-1 mt-3 mb-3 btn btn-primary text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Módosítás</a>
                    <a class="m-1 mt-3 mb-3 btn btn-danger text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                }

                <button class="btn m-0 flex-grow-1 bg-light border-0 shadow-none accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseGroupCard-@listIndex"
                        aria-expanded="false"
                        aria-controls="collapseGroupCard-@listIndex">
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseGroupCard-@listIndex">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.CreatorUser.FullName) csoportja</h5>
                <h7 class="card-text fw-bold">Tagok:</h7>
                @foreach (var user in item.Users)
                {
                    <p class="card-text m-1">@user.FullName</p>
                }
            </div>
        </div>
    </div>
    listIndex++;
}






<div class="modal fade" id="joinGroupModal" tabindex="-1" aria-labelledby="joinGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="joinGroupModalLabel">Csatlakozás egy csoporthoz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Bezár"></button>
            </div>
            <div class="modal-body">
                <h7>Kérem adja meg a csoport meghívó kódját!</h7>
                <br>
                <form action="@Url.Action("JoinGroup", "Groups")" method="post" id="joinGroupForm">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="inviteCode" name="inviteCode" placeholder="Meghívó kód" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
                        <button type="submit" class="btn btn-primary">Csatlakozás</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
