@using ShareCare.Data
@model ShareCare.Models.Group

@{
    ViewData["Title"] = "Purchases";
    ViewData["Group"] = Model;
    ViewData["GroupId"] = Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = "Groups";
    List<Purchase> ApprovedPayments = ViewData["ApprovedPayments"] as List<Purchase>;
    List<Purchase> IdlePayments = ViewData["IdlePayments"] as List<Purchase>;
    ApplicationUser user = ViewData["User"] as ApplicationUser;
}

<div>
    <h1>Kiegyenlítések</h1>

    <h3>Elfogadott kiegyenlítések</h3>
    <div>
        @foreach (var payment in ApprovedPayments)
        {
            foreach (var debt in payment.Debts)
            {
                <div class="card mb-2">
                    <div class="card-header w-100 d-flex align-items-center">
                        <span>
                            @debt.UploaderUser.FullName
                        </span>
                        <span class="mx-1">
                            <i class="bi bi-arrow-right"></i>
                        </span>
                        <span>
                            @debt.OwerUser.FullName
                        </span>
                        <span class="flex-grow-1 text-end me-2">
                            @(debt.Amount)Ft
                        </span>
                    </div>
                </div>
            }
        }
    </div>

    <h3>Elfogadásra váró kiegyenlítések</h3>
    <div>
        @foreach (var payment in IdlePayments)
        {
            foreach (var debt in payment.Debts)
            {
                <div class="card mb-2">
                    <div class="card-header w-100 d-flex align-items-center">
                        <span>
                            @debt.UploaderUser.FullName
                        </span>
                        <span class="mx-1">
                            <i class="bi bi-arrow-right"></i>
                        </span>
                        <span>
                            @debt.OwerUser.FullName
                        </span>
                        <span class="flex-grow-1 text-end me-2">
                            @(debt.Amount)Ft
                        </span>
                        @if (debt.OwerUser == user)
                        {
                            <span class="text-end d-flex justify-content-end align-items-center me-1">
                                <form asp-action="ApprovePayment" asp-controller="Debts">
                                    <input type="hidden" id="id" name="id" value=@debt.Id />
                                    <button type="submit" style="all: unset; cursor: pointer;"><i title="Elfogadás" class="fa fa-check fs-3 text-success m-1"></i></button>
                                </form>
                                <form asp-action="RejectPayment" asp-controller="Debts">
                                    <input type="hidden" id="id" name="id" value=@debt.Id />
                                    <button type="submit" style="all: unset; cursor: pointer;"><i title="Elutasítás" class="fa fa-times fs-3 text-danger m-1"></i></button>
                                </form>
                            </span>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
